.rowPosters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.rowPosters::-webkit-scrollbar {
  display: none;
}

.rowPoster {
  object-fit: contain;
  width: 100%;
  max-height: 160px;
  margin-right: 10px;
  transition: transform 450ms;
}

.rowPoster:hover {
  transform: scale(1.08);
}

.rowPosterLarge {
  max-height: 250px;
}

.rowPosterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}

.row {
  margin-left: 20px;
  color: white;
}
